@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
    /* slate-900 */
    background-color: #ffffff;
    overflow-x: hidden;
  }

  ::selection {
    background-color: #0ea5e9;
    /* primary-500 */
    color: #ffffff;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}